<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideFlights</title>
    </head>
    
    <body>
         <header th:replace="~{layout/plantilla :: header}"/>
         
         <section th:replace="~{reservas/fragmentos :: botonesAgregar}"/>
         <section th:replace="~{reservas/fragmentos :: agregarReserva}"/>
         <section th:replace="~{reservas/fragmentos :: listadoReservas}"/>
         
         <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
    
</html>

