<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>FideFlights</title>
    </head>
    
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPrereserva">
                            <i class="fas fa-plus"></i> [[#{prereserva.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar prereserva, es la ventana modal -->
        <section th:fragment="agregarPrereserva">
            <div id="agregarPrereserva" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{prereserva.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/prereservas/guardar}" th:object="${prereserva}"
                              method="POST" class="was-validated" enctype="multipart/form-data">

                            <input type="hidden" name="nuevaInfo" value="NO"/>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idVuelo">[[#{prereserva.id.vuelo}]]</label>
                                    <select name="vuelo.idVuelo" 
                                            class="form-select" 
                                            aria-label="Default select example">
                                        <option th:each="v : ${vuelos}" th:value="${v.idVuelo}" th:text="${v.descripcion}">
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="id">[[#{prereserva.id}]]</label>
                                    <input type="text" class="form-control" name="id" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="cliente">[[#{prereserva.id.cliente}]]</label>                                    
                                    <input type="text" class="form-control" name="cliente" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="datos">[[#{prereserva.datos}]]</label>                                    
                                    <input type="number" class="form-control" name="datos" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="total">[[#{prereserva.total}]]</label>                                    
                                    <input type="number" class="form-control" name="total" required="true"/>
                                </div>

                                <div class="mb-3">
                                    <label for="activo">[[#{prereserva.activo}]]</label>
                                    <input class="form-check-input" 
                                           type="checkbox" 
                                           name="activo" 
                                           id="activo">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad prereserva -->
        <section th:fragment="listadoPrereservas" id="prereservas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{prereserva.listado}]]</h4>
                            </div>
                            <div th:if="${prereservas != null and !prereservas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th class="text-center">[[#{prereserva.id}]]</th>
                                            <th class="text-center">[[#{prereserva.id.vuelo}]]</th>
                                            <th class="text-center">[[#{prereserva.id.cliente}]]</th>
                                            <th class="text-center">[[#{prereserva.datos}]]</th>
                                            <th class="text-center">[[#{prereserva.total}]]</th>
                                            <th class="text-center">[[#{prereserva.activo}]]</th>
                                            <th></th><th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="prereserva, contador : ${prereservas}">
                                            <td class="text-center">[[${contador.count}]]</td>
                                            <td class="fs-6">[[${prereserva.id.vuelo}]]</td>
                                            <td class="text-end">[[${prereserva.id.cliente}]]</td>
                                            <td class="text-center">[[${prereserva.datos}]]</td>
                                            <td class="text-end">[[${prereserva.total}]]</td>
                                            <td  class="text-center" th:text="${prereserva.activo} ? 'Activa' : 'Inactiva'" />
                                            <td>[[${prereserva.factura}]]</td>
                                            <td><a th:href="@{/prereservas/eliminar/}+${prereserva.idPrereserva}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a></td>
                                            <td>
                                                <a th:href="@{/prereservas/modificar/}+${prereserva.idPrereserva}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="text-center p-2" th:if="${prereservas == null or prereservas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{prereserva.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalPrereservas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarPrereserva">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/prereservas/guardar}" 
                          th:object="${prereserva}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idPrereserva" th:field="*{idPrereserva}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <input type="hidden" name="nuevaImagen" value="NO"/>

                        <section th:replace="~{prereserva/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="idVuelo">[[#{prereserva.id.vuelo}]]</label>
                                                    <select th:field="*{vuelo.idVuelo}"
                                                            class="form-select" 
                                                            aria-label="Default select example">
                                                        <option th:each="v : ${vuelos}" th:value="${v.idVuelo}" th:text="${v.descripcion}">
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="id">[[#{prereserva.id}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="id" th:field="*{id}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cliente">[[#{prereserva.id.cliente}]]</label>                                    
                                                    <textarea class="form-control" 
                                                              th:field="*{cliente}" rows="3"></textarea>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="datos">[[#{prereserva.datos}]]</label>                                    
                                                    <input type="text" class="form-control" 
                                                           th:field="*{datos}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="total">[[#{prereserva.total}]]</label>                                    
                                                    <input type="number" class="form-control" 
                                                           th:field="*{total}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="activo">[[#{prereserva.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           th:field="*{activo}" 
                                                           id="activo">
                                                </div>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/prereservas/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/prereservas/eliminar/}+${prereserva.idPrereserva}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
    </body>
</html>
